html {
    box-sizing: border-box;
    font-size: 16px; /* Base font size */
}

img {
    width: 100%;
}

*, *::before, *::after {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.navbar a:hover {
    background-color: rgb(148, 148, 148);
    transform: translateY(-1.5px);
}

.main-section {
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    height: 100%;
    padding: 1rem 5rem;
    background-color: #000000;
}

.introduction {
    font-size: 2rem;
}

.introduction a {
    transition: color 0.3s ease;
    text-decoration: none;
}

.introduction a:hover {
    color: rgb(0, 146, 214);
}

.introduction h1 {
    background-clip: text;
    background-image: linear-gradient(to right, rgb(59, 130, 246), rgb(168, 85, 247), rgb(20, 184, 166));
    color: rgba(0, 0, 0, 0);
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    text-align: center;
}

.introduction h2 {
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    text-align: center;
}

.introduction p {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    text-align: center;
}

.summary-1 {
    color: rgb(156, 163, 175);
}

.summary-2 {
    color: rgb(107 114 128)
}

.summary-2 a {
    color: rgb(75, 204, 255);
}

.skills {
    column-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 12px;
}

.skills span {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    font-size: 14px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

.skill-icon {
    height: 1rem;
    width: 1rem;
}

.react {
    background-color: rgba(246, 81, 59, 0.336);
    color: rgb(250, 96, 96);
}

.javascript {
    background-color: rgba(255, 140, 32, 0.26);
    color: rgb(247, 194, 50);
}

.java {
    background-color: rgba(167, 140, 66, 0.514);
    color: rgb(255, 221, 177);
}

.native {
    background-color: rgba(187, 108, 252, 0.247);
    color: rgb(158, 50, 247);
}

.aws {
    background-color: rgba(77, 77, 77, 0.911);
    color: rgba(187, 187, 187, 0.945);
}

.kotlin {
    background-color: rgba(121, 17, 115, 0.911);
    color: rgba(214, 128, 210, 0.945);
}

.swift {
    background-color: rgba(105, 71, 20, 0.911);
    color: rgba(204, 155, 109, 0.945);
}

.python {
    background-color: rgba(7, 76, 94, 0.911);
    color: rgba(138, 214, 233, 0.945);
}

.html {
    background-color: rgba(63, 63, 63, 0.911);
    color: rgba(153, 153, 153, 0.945);
}

.css {
    background-color: rgba(73, 70, 238, 0.719);
    color: rgb(165, 168, 248);
}

.mysql {
    background-color: rgba(23, 111, 151, 0.719);
    color: rgb(161, 252, 255);
}

.oracle {
    background-color: rgba(131, 26, 12, 0.719);
    color: rgb(231, 117, 117);
}

.mongodb {
    background-color: rgba(10, 148, 28, 0.719);
    color: rgb(91, 216, 102);
}

.firebase {
    background-color: rgba(253, 186, 40, 0.719);
    color: rgb(253, 233, 50);
}

.areas {
    background-color: rgba(17, 24, 39, 0.5);
    border: 0.8px solid rgb(31, 41, 55);
    border-radius: 8px;
    line-height: 24px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    margin-top: 32px;
}

.areas-grid {
    display: grid;
	grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
    text-align: center;
}

.area {
	transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-duration: .15s;
	background-color: rgba(31,41,55,.5);
	border-color: transparent;
	border-width: 2px;
	border-radius: .5rem;
    padding: 1.5rem;
}

.area h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.area.frontend {
    color: rgb(96 165 250);
}

.area.backend {
    color: rgb(192 132 252);
}

.area.mobile {
    color: rgb(250, 222, 96);
}

.area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(156 163 175);
    font-size: 0.857rem;
    line-height: 1.25rem;
}

.area li {
    gap: 0.5rem;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
}

.list-dot {
    border-radius: 9999px;
    width: 0.375rem;
    height: 0.375rem;
}

.list-dot.frontend {
    background-color: rgb(96 165 250);
}

.list-dot.backend {
    background-color: rgb(192 132 252);
}

.list-dot.mobile {
    background-color: rgb(250, 222, 96);
}

.project-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects {
    margin-left: auto;
    margin-right: auto;
}

.projects h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    opacity: 1;
    color: white;
}

.project {
    background-color: rgba(17, 24, 39, 0.5);
    box-sizing: border-box;
    border: 0.8px solid rgb(31, 41, 55);
    border-radius: 12px;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.project p {
    color: rgb(156 163 175)
}

.project-details {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 1.5rem;
}

.project-details h4.feature-1 {
    color: rgb(96 165 250)
}

.project-details h4.feature-2 {
    color: rgb(192 132 252)
}

.project-details h4.feature-3 {
    color: rgb(250, 222, 96)
}

.project-details ul {
    color: rgb(156 163 175);
    font-size: 0.875rem;
    line-height: 2rem;
}

.project-icons {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.project-icon {
    padding: 1rem;
    height: 15rem;
    width: auto;
    max-width: 25%;
    object-fit: contain;
}

.education-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.educations {
    margin-left: auto;
    margin-right: auto;
}

.educations h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    opacity: 1;
    color: white;
}

.education {
    background-color: rgba(17, 24, 39, 0.5);
    box-sizing: border-box;
    border: 0.8px solid rgb(31, 41, 55);
    border-radius: 12px;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.school {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 1rem;
}

.school-image {
    grid-column: col-start 1 / span 2;
}

.school-info {
    grid-column: col-start 3 / span 10;
}

.education h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.education p {
    color: rgb(156 163 175)
}

footer {
    padding: 1rem 0rem;
    text-align: center;
    background-color: black;
    color: white;
}